body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222;
  color: antiquewhite;
}

/* Global */
.container {
  width: 80vw;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.dark {
  padding: 15px;
  background: #444;
  color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header {
  background: #222;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: green 3px solid;
}

header a {
  color: antiquewhite;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: green;
  font-weight: bold;
}

header a:hover {
  color: greenyellow;
  font-weight: bold;
}

/* Showcase */
#showcase {
  min-height: 75vh;
  background: url("../img/showcase.jpg");
  background-size: cover;
  text-align: right;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 70px;
  font-size: 4rem;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 1.2rem;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 5px;
  margin-top: 15px;
  color: #ffffff;
  background-color: green;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  header #branding {
    font-size: 1rem;
  }
  #showcase {
    text-align: center;
    background: #333;
    min-height: 74vh;
  }

  #showcase h1 {
    margin-top: 20px;
    font-size: 2rem;
  }

  footer {
    margin-top: 5px;
    padding: 0.3vh;
  }
}
